/* Typografi */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

/* Variables */
:root {
  --StPatricksBlue: #23377f;
  --AlizarinCrimson: #e31e24;
  --ShojiWhite: #eeede8;
  --GreyBlack: #333333;
}

h1 {
  font-size: 1.25rem;
  color: white;
}

h2 {
  font-size: 1.1875rem;
  color: var(--StPatricksBlue);
  margin-bottom: 5px;
  font-weight: 900;
}

h3 {
  font-size: 1.1875rem;
  color: var(--GreyBlack);
}

h4 {
  font-size: 30px;
  font-weight: 400;
  color: var(--GreyBlack);
}

p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--GreyBlack);
  line-height: 1.5rem;
}

body {
  font-family: "Lato", sans-serif;
}

/* Header styling */
.headbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.headbar > div > a {
  font-size: 24px;
  font-weight: bold;
  padding: 13px 21px;
  background-color: var(--StPatricksBlue);
  color: var(--ShojiWhite);
  text-decoration: none;
  margin-top: 35px;
  margin-right: 1rem;
  border-radius: 10px;
  border: 5px solid var(--StPatricksBlue);
}

.headbar a {
  font-size: 40px;
  color: var(--ShojiWhite);
}

.headbar :first-of-type a {
  display: none;
}

.headbar a:hover {
  background-color: var(--ShojiWhite);
  color: var(--StPatricksBlue);
}

.headbar img {
  height: 57px;
}

nav ul {
  display: none;
  justify-content: center;
  list-style: none;
  margin-top: 25px;
  padding-inline-start: unset;
}

nav ul a {
  font-size: 24px;
  font-weight: bold;
  text-decoration: 3px solid underline var(--GreyBlack);
  color: var(--ShojiWhite);
  border: solid 1px var(--GreyBlack);
  border-right: solid 2px var(--AlizarinCrimson);
  padding: 0 12px;
}

nav ul a:hover {
  text-decoration: 3px solid underline var(--AlizarinCrimson);
  transition: 0.2s ease-in;
}

nav ul li:last-of-type a {
  border: none;
  text-decoration: 3px solid underline var(--GreyBlack);
}

nav ul li:last-of-type a:hover {
  text-decoration: 3px solid underline var(--AlizarinCrimson);
}

nav {
  background-color: var(--GreyBlack);
}

/* Header styling - Slut */

/* Footer styling - Start */

footer {
  background-color: var(--GreyBlack);
}

footer p,
footer a,
footer h4 {
  color: var(--ShojiWhite);
}

footer p {
  font-weight: bold;
}

footer h4 {
  font-weight: 900;
}

footer a {
  font-size: 20px;
  text-decoration: none;
}

footer i {
  font-size: 58px;
  color: var(--ShojiWhite);
}

.kontaktoplysninger {
  display: none;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

.socialemedier {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 36px 0px;
  gap: 19px;
}

.logoer {
  display: flex;
  gap: 50px;
}

.timeslot {
  display: none;
  flex-direction: column;
  gap: 33px;
}

/* Footer styling - Slut */

/* Forside styling */
/* Forside styling - Slut */

/* Praktisk info styling */
/* Praktisk info styling - Slut */

/* Ashihara styling */
/* Ashihara styling - Slut */

/* Aktiviteter styling */
/* Aktiviteter styling - Slut */

/* Karateettikette styling */
.hero {
  height: 160px;
  background-image: url(../img/karateetikette/mobil/karateslagmobil01.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 8.91vw;
  margin-bottom: 20px;
}

.numbercontainer {
  display: flex;
  gap: 1rem;
  padding: 0px 35px;
  margin-bottom: 16px;
}

.numbercontainer div p:not(:last-child) {
  margin-bottom: 16px;
}

span p {
  height: 28px;
  aspect-ratio: 1/1;
  background-color: var(--GreyBlack);
  color: var(--ShojiWhite);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid var(--AlizarinCrimson);
}

.component1 div img {
  width: 100%;
  height: 203px;
  object-fit: cover;
  object-position: top;
  margin-top: 4px;
  margin-bottom: 20px;
}

.component1 .foto2 img {
  object-position: center;
}

.component1 > div > p,
.component1 h2 {
  padding: 0px 35px;
}

.component1 > div > p {
  margin-bottom: 1rem;
}

/* Karateetikkette styling - Slut */

/* Instruktører styling */
.hero-seneis {
  background-image: url(../img/Instruktør/Mobile/heroMobile01.jpg);
  height: 160px;
  object-fit: cover;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
}
.hero-senseistext h1 {
  text-align: center;
  position: absolute;
  top: 25%;
  left: 10%;
  color: var(--ShojiWhite);
}
.imgsensei img {
  object-fit: cover;
}

.brian picture {
  margin-top: 20px;
  margin-left: 35px;
  margin-right: 35px;
}
.brian p {
  margin-top: 20px;
  margin-left: 35px;
  margin-right: 35px;
}
.brian h2 {
  margin-top: 20px;
  margin-left: 35px;
  margin-right: 35px;
}

.text-and-button-sensei {
  display: flex;
  flex-direction: column;
  background-color: var(--ShojiWhite);
}
.text-sensei {
  margin: 35px;
}
.btn-sensei {
  background-color: var(--StPatricksBlue);
  color: var(--ShojiWhite);
  padding: 15px 15px;
  margin-bottom: 10px;
  margin-left: 35px;
  margin-right: 35px;
  border-radius: 12px;
}
.knapvidere {
  padding-bottom: 40px;
}
@media screen and (min-width: 700px) {
  .brian,
  .brian-grid figure h2 {
    display: grid;
    grid-template-columns: repeat(2, 350px);
    margin-right: 35px;
    align-items: baseline;
  }
  .brian img {
    height: 241px;
  }
}
@media screen and (min-width: 1000px) {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 25px;
  }
  h4 {
    font-size: 22px;
  }
  p,
  .dato p {
    font-size: 20px;
    line-height: 27px;
  }

  .hero-seneis {
    background-image: url(../img/Instruktør/Desktop/heroInstruktør02.jpg);

    object-fit: cover;
    background-repeat: no-repeat;
    position: relative;
  }
  .hero-senseistext h1 {
    font-size: 70px;
    top: 40%;
  }
  .hero-senseistext h1 {
    text-align: center;
    position: absolute;
    top: 120px;
    left: 10%;
    color: var(--ShojiWhite);
  }
  .brian,
  .brian-grid figure h2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-right: 35px;
    align-items: baseline;
  }

  .brian p {
    margin-top: 20px;
  }
  .brian h2 {
    margin-top: 20px;

    margin-right: 100px;
  }
  .brain img {
    margin-right: 100px;
  }
}

@media screen and (min-width: 1920px) {
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 35px;
  }
  h3 {
    font-size: 35px;
  }
  h4 {
    font-size: 30px;
  }
  p,
  .dato p {
    font-size: 25px;
    line-height: 37.5px;
  }
  .hero-seneis {
    background-image: url(../img/Instruktør/Desktop/heroInstruktør02.jpg);
    height: 317px;
    object-fit: cover;
    background-repeat: no-repeat;
    position: relative;
    background-size: contain;
  }
  .hero-senseistext h1 {
    font-size: 70px;
    top: 14%;
  }
  .brian,
  .brian-grid figure h2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-right: 35px;
    margin-left: 35px;
    align-items: baseline;
  }
  .brian img {
    width: 527px;
    height: 395px;
  }
}

/* Instruktører styling - Slut */

/* Bestyrelse styling */
/* Bestyrelse styling - Slut */

/* Galleri styling */
/* Galleri styling - Slut */
