/* Typografi */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

/* Variables */
:root {
    --StPatricksBlue: #23377F;
    --AlizarinCrimson: #E31E24;
    --ShojiWhite: #EEEDE8; 
    --GreyBlack: #333333;
}

h1 {
    font-size: 1.25rem;
    color: white;
}

h2 {
    font-size: 1.1875rem;
    color: var(--StPatricksBlue);
    margin-bottom: 5px;
    font-weight: 900;
}

h3 {
    font-size: 1.1875rem;
    color: var(--GreyBlack);
}

h4 {
    font-size: 30px;
    font-weight: 400;
    color: var(--GreyBlack);
}

p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--GreyBlack);
    line-height: 1.5rem;
}

body {
    font-family: 'Lato', sans-serif;
}

/* Header styling */
.headbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.headbar>div>a {
    font-size: 24px;
    font-weight: bold;
    padding: 13px 21px;
    background-color: var(--StPatricksBlue);
    color: var(--ShojiWhite);
    text-decoration: none;
    margin-top: 35px;
    margin-right: 1rem;
    border-radius: 10px;
    border: 5px solid var(--StPatricksBlue);
}

.headbar a {
    font-size: 40px;
    color: var(--ShojiWhite);
}

.headbar :first-of-type a {
    display: none;
}

.headbar a:hover {
    background-color: var(--ShojiWhite);
    color: var(--StPatricksBlue);
}

.headbar img {
    height: 57px;
}

nav ul {
    display: none;
    justify-content: center;
    list-style: none;
    margin-top: 25px;
    padding-inline-start: unset;
}

nav ul a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: 3px solid underline var(--GreyBlack);
    color: var(--ShojiWhite);
    border: solid 1px var(--GreyBlack);
    border-right: solid 2px var(--AlizarinCrimson);
    padding: 0 12px;
}

nav ul a:hover {
    text-decoration: 3px solid underline var(--AlizarinCrimson);
    transition: 0.2s ease-in;
}

nav ul li:last-of-type a {
    border: none;
    text-decoration: 3px solid underline var(--GreyBlack);
}

nav ul li:last-of-type a:hover {
    text-decoration: 3px solid underline var(--AlizarinCrimson);
}

nav {
    background-color: var(--GreyBlack);
}



/* Header styling - Slut */

/* Footer styling - Start */

footer {
    background-color: var(--GreyBlack);
}

footer p,
footer a,
footer h4 {
    color: var(--ShojiWhite);
}

footer p {
    font-weight: bold;
}

footer h4 {
    font-weight: 900;
}

footer a {
    font-size: 20px;
    text-decoration: none;
}

footer i {
    font-size: 58px;
    color: var(--ShojiWhite);
}

.kontaktoplysninger {
    display: none;
    flex-direction: column;
    gap: 25px;
    align-items: center;

}

.socialemedier {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px 0px;
    gap: 19px;
}

.logoer {
    display: flex;
    gap: 50px;
}

.timeslot {
    display: none;
    flex-direction: column;
    gap: 33px;
}


/* Footer styling - Slut */

/* Forside styling */
/* Forside styling - Slut */

/* Praktisk info styling */
/* Praktisk info styling - Slut */

/* Ashihara styling */





/* desktop*/
@media screen and (min-width: 1024px){
    .ashiharaHero{
        height: 160px;
        background-image: url(/assets/img/Ashihara/desktop/heroLanterner01.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        padding: 8.91vw;
        margin-bottom: 20px
    }
    
    .mainAsh{
        padding: 0 130px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 114px;
        
    }
    .vaerdier_container{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        width: fit-content;
    
    }
    .vaerdier img{
        height: 50%;
        padding-bottom: 20px;
    }
    .vidre{
        margin-top: 40px;
        background-color: var(--ShojiWhite);
    }
    .vidre div{
        padding:20px 30px;
    }
    
    .vidre img{
       width: 100%;
    }
    .ashIntro p{
        padding-bottom: 30px;
    }
    .maalsaetninger ul{
        margin: 0;
        padding: 0;
        list-style: none;
    } 
    
}
/* mobil */
@media screen and (max-width: 767px){

   
    
    .ashiharaHero{
        height: 160px;
        background-image: url(/assets/img/Ashihara/mobil/mobilHeroLanterner01.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        padding: 8.91vw;
        margin-bottom: 20px
    }
    
    
    .vaerdier_container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    .vaerdier_container img{
        width: 100%;
      
    }
    
    .ashIntro, .disciplin, .maalsaetninger{
        padding:20px;
    }
    .vidre{
        margin-top: 40px;
        background-color: var(--ShojiWhite);
    }
    .vidre div{
        padding:20px 30px;
    }
    
    .vidre img{
       width: 100%;
    }
    .ashIntro>p{
        padding-bottom: 30px;
    }
    .maalsaetninger ul{
        margin: 0;
        padding: 0;
        list-style: none;
    } 
}



/* Ashihara styling - Slut */

/* Aktiviteter styling */
/* Aktiviteter styling - Slut */

/* Karateettikette styling */


.numbercontainer {
    display: flex;
    gap: 1rem;
    padding: 0px 35px;
    margin-bottom: 16px;
}

.numbercontainer div p:not(:last-child) {
    margin-bottom: 16px;
}

span p {
    height: 28px;
    aspect-ratio: 1/1;
    background-color: var(--GreyBlack);
    color: var(--ShojiWhite);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid var(--AlizarinCrimson);
}

.component1 div img {
    width: 100%;
    height: 203px;
    object-fit: cover;
    object-position: top;
    margin-top: 4px;
    margin-bottom: 20px;
}

.component1 .foto2 img {
    object-position: center;
}

.component1>div>p,
.component1 h2 {
    padding: 0px 35px;
}

.component1>div>p {
    margin-bottom: 1rem;
}






/* Karateetikkette styling - Slut */

/* Instruktører styling */
/* Instruktører styling - Slut */

/* Bestyrelse styling */
/* Bestyrelse styling - Slut */

/* Galleri styling */
/* Galleri styling - Slut */