/* Typografi */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

/* Variables */
:root {
    --StPatricksBlue: #23377F;
    --AlizarinCrimson: #E31E24;
    --ShojiWhite: #EEEDE8;
    --GreyBlack: #333333;
    --DarkGrey: #a5A5A5;
}

h1 {
    font-size: 1.25rem;
    color: white;
}

h2 {
    font-size: 1.1875rem;
    color: var(--StPatricksBlue);
    margin-bottom: 5px;
    font-weight: 900;
}

h3 {
    font-size: 1.1875rem;
    color: var(--StPatricksBlue);
}

h4 {
    font-size: 30px;
    font-weight: 400;
    color: var(--GreyBlack);
}

p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--GreyBlack);
    line-height: 1.5rem;
}

body {
    font-family: 'Lato', sans-serif;
}

/* Header styling */
.headbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.headbar>div>a {
    font-size: 24px;
    font-weight: bold;
    padding: 13px 21px;
    background-color: var(--StPatricksBlue);
    color: var(--ShojiWhite);
    text-decoration: none;
    margin-top: 35px;
    margin-right: 1rem;
    border-radius: 10px;
    border: 5px solid var(--StPatricksBlue);
}

.headbar a {
    font-size: 40px;
    color: var(--ShojiWhite);
}

.headbar :first-of-type a {
    display: none;
}

.headbar a:hover {
    background-color: var(--ShojiWhite);
    color: var(--StPatricksBlue);
}

.headbar img {
    height: 57px;
}

nav ul {
    display: none;
    justify-content: center;
    list-style: none;
    margin-top: 25px;
    padding-inline-start: unset;
}

nav ul a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: 3px solid underline var(--GreyBlack);
    color: var(--ShojiWhite);
    border: solid 1px var(--GreyBlack);
    border-right: solid 2px var(--AlizarinCrimson);
    padding: 0 12px;
}

nav ul a:hover {
    text-decoration: 3px solid underline var(--AlizarinCrimson);
    transition: 0.2s ease-in;
}

nav ul li:last-of-type a {
    border: none;
    text-decoration: 3px solid underline var(--GreyBlack);
}

nav ul li:last-of-type a:hover {
    text-decoration: 3px solid underline var(--AlizarinCrimson);
}

nav {
    background-color: var(--GreyBlack);
}


/* Header styling - Slut */

/* Footer styling - Start */

footer {
    background-color: var(--GreyBlack);
}

footer p,
footer a,
footer h4 {
    color: var(--ShojiWhite);
}

footer p {
    font-weight: bold;
}

footer h4 {
    font-weight: 900;
}

footer a {
    font-size: 20px;
    text-decoration: none;
}

footer i {
    font-size: 58px;
    color: var(--ShojiWhite);
}

.kontaktoplysninger {
    display: none;
    flex-direction: column;
    gap: 25px;
    align-items: center;

}

.socialemedier {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px 0px;
    gap: 19px;
}

.logoer {
    display: flex;
    gap: 50px;
}

.timeslot {
    display: none;
    flex-direction: column;
    gap: 33px;
}


/* Footer styling - Slut */

/* Forside styling */
/* Forside styling - Slut */

/* Praktisk info styling */
/* mobil */

/* desktop */

@media only screen and (min-width: 1000px) {
    .mainPrak {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        gap: 2rem;
        padding: 50px 139px;
    }

    .mainPrak p {
        font-size: 20px;
    }

    .imgFill {
        grid-column: 2/3;

    }

    .imgFill,
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .fac {
        grid-column: 1/2;
    }


    .workoutH {
        grid-column: 1/2;
    }

    .freeWorkout {
        grid-column: 1/2;
    }

    .Prevented {
        grid-column: 2/3;

    }

    .traningForms {
        grid-column: 1/2;
    }

    .traningForms ul {
        padding: 0;
    }

    .damage {
        grid-column: 1/2;
    }

    .equipment {
        grid-column: 1/2;
    }

    .compAndTour {
        grid-column: 1/2;
    }

    h1 {
        font-size: 3.75rem;
        color: white;
    }

    p li {
        font-size: 1.7rem;
        padding: 0%;
    }

    .bluel {
        color: var(--StPatricksBlue);
    }

    .bluel,
    li {
        line-height: 1.5rem;
        list-style: none;
    }

    .blackbold {
        color: var(--GreyBlack);
        text-decoration: none;
        font-weight: bold;
    }

    .reqred {
        color: var(--AlizarinCrimson);
    }

    .heroPrak {
        height: 160px;
        background-image: url(../img/Praktiskinformation/desktop/heroPraktiskinfo.jpg);
        background-size: cover;
        display: flex;
        align-items: center;
        padding: 8.91vw;
        margin-bottom: 20px
    }

    .signupForm {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    label {
        color: var(--DarkGrey);
        font-weight: 700;
    }

    input {
        background: var(--ShojiWhite);
        border: none;
        padding: 18px 32px;
        font-size: 1rem;
        font-weight: 700;
        width: 338px;
        border-radius: 10px;

    }

    .radiob {
        width: 30px;
        padding: 30px;
        background-color: var(--AlizarinCrimson);

    }

    .card {
        margin: 0;
        background-color: var(--ShojiWhite);

    }
}

/* Praktisk info styling - Slut */

/* Ashihara styling */
/* Ashihara styling - Slut */

/* Aktiviteter styling */
/* Aktiviteter styling - Slut */

/* Karateettikette styling */
.hero {
    height: 160px;
    background-image: url(../img/karateetikette/mobil/karateslagmobil01.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 8.91vw;
    margin-bottom: 20px
}

.numbercontainer {
    display: flex;
    gap: 1rem;
    padding: 0px 35px;
    margin-bottom: 16px;
}

.numbercontainer div p:not(:last-child) {
    margin-bottom: 16px;
}

span p {
    height: 28px;
    aspect-ratio: 1/1;
    background-color: var(--GreyBlack);
    color: var(--ShojiWhite);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid var(--AlizarinCrimson);
}

.component1 div img {
    width: 100%;
    height: 203px;
    object-fit: cover;
    object-position: top;
    margin-top: 4px;
    margin-bottom: 20px;
}

.component1 .foto2 img {
    object-position: center;
}

.component1>div>p,
.component1 h2 {
    padding: 0px 35px;
}

.component1>div>p {
    margin-bottom: 1rem;
}






/* Karateetikkette styling - Slut */

/* Instruktører styling */
/* Instruktører styling - Slut */

/* Bestyrelse styling */
/* Bestyrelse styling - Slut */

/* Galleri styling */
/* Galleri styling - Slut */